:root {
  --primary-color: #f84747;
  --primary-color-dark: #ff2929;
  --bg-color: #f6f6f6;
  --color-white: #ffffff;
  --color-black: rgba(0, 0, 0, 0.87);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--color-black);
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
}

/**
 * Header
 */
.header {
  padding: 2rem;
  background-color: var(--color-white);
}

.header__title {
  font-size: 1.25rem;
  font-weight: 300;
}

.header__title strong {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-color);
}

/**  CONTENT **/
.content {
  width: 70vw;
  gap: 1rem;
  display: flex;
  padding: 3rem 2rem;
}

/* Navigation */
.navigation {
  gap: 1rem;
  display: flex;
  flex-flow: column;
}

.navigation__link {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  border: 2px solid var(--color-white);

  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--color-black);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;

  padding: 1.125rem 0;
  background-color: var(--color-white);
}

.navigation__link.active {
  color: var(--color-white);
  background-color: var(--primary-color);
}

.navigation__link:hover {
  border-color: #f3cdcd;
}

/**
 * Products
 */
.products {
  padding-inline: 2rem;
  gap: 3rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.products__item {
  gap: 0.5rem;
  display: flex;
  flex-flow: column;
}

.products__item-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-black);
  margin-block-start: 0.5rem;
}

.products__item-image {
  width: 200px;
  height: 150px;
  border-radius: 1rem;
}

.products__item-description {
  font-weight: 300;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.4);
}

.products__item-row {
  margin-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__item-quantity-button {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
  border: 2px solid var(--color-white);
  background-color: var(--color-white);

  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
}

.products__item-quantity-button:hover {
  background-color: #f3cdcd;
}

.products__item-quantity-value {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-black);
}

.products__item-button {
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 3rem;
  padding: 0.5rem 0;
  background-color: var(--primary-color);
  transition: outline-color 0.2s;

  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  color: var(--color-white);
}

.products__item-button:hover {
  outline: 2px solid #f3cdcd;
}

/**
 * Cart
 */
.cart {
  display: flex;
  flex-flow: column;
  width: 30vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  padding-inline: 1rem;
  background-color: var(--color-white);
}

.cart__title {
  padding: 2rem 0;
  font-size: 1.25rem;
}

.cart__item {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block-end: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.cart__item-image {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.cart__item-content {
  gap: 0.25rem;
  display: flex;
  flex-flow: column;
}

.cart__item-title {
  font-size: 1rem;
  color: var(--color-black);
}

.cart__item-description {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.4);
}

.cart__item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__item-quantity-button {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
  border: 2px solid var(--color-white);
  background-color: var(--color-white);

  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
}

.cart__item-quantity-button:hover {
  background-color: #f3cdcd;
}

.cart__item-remove {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: lowercase;
  color: var(--primary-color);
  cursor: pointer;
  border: 0;
  transition: 0.2s;
  background-color: transparent;
}

.cart__item-remove:hover {
  text-decoration: underline;
}

.cart__footer {
  margin-block-start: auto;
}

.cart__total {
  text-align: right;
  font-size: 1.25rem;
  padding-block-start: 1.5rem;
  border-block-start: 1px solid rgba(0, 0, 0, 0.07);
}

.cart__checkout {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 49px;
  border: 0;
  transition: outline-color 0.2s;
  border-radius: 3rem;
  background-color: var(--primary-color);

  font-size: 1rem;
  font-weight: 700;
  color: var(--color-white);

  margin-block: 1rem;
}

.cart__checkout:hover {
  outline: 2px solid #f3cdcd;
}
